body{
  background-color: #edffec;
}
div{

  text-align: center;
  margin: auto;

}
h1{
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: #f25287;
  text-shadow:  5px 0 #232931;
}
img{
  width:400px;
  height:200px;
}
button{
  border: 10px solid #1cc5dc;
  font-family: 'Lobster', cursive;
  font-weight: bold;
    line-height: 1rem;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 50px;
    background-color: white;
}
button,#click:hover{
  background-color: #999b84;
}
#click{
  border: 10px solid #1cc5dc;
  font-family: 'Lobster', cursive;
  font-weight: bold;
    line-height: 1rem;
    border-radius: 15px;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 50px;
    background-color: white;
}
label{
  font-family: 'Lobster', cursive;
}
